@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&family=Sora:wght@400;600;700;800&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131315;
  color: #e5e1e4;
}

@layer utilities {
    .glass-panel {
        @apply backdrop-blur-xl border border-white/10 shadow-[0_4px_30px_rgba(0,0,0,0.5)];
        background-color: rgba(19, 19, 21, 0.4); /* surface/40 */
    }

    .neon-text-primary {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-primary via-secondary to-tertiary;
    }

    .neon-glow-primary {
        @apply shadow-[0_0_15px_rgba(255,177,196,0.3)];
    }
}
